<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
</head>
<body>
<h1>WebSocket Chat</h1>
<h2>Your ID: <span id="ws-id"></span></h2>
<form onsubmit="sendMessage(event)">
    <input type="text" id="messageText" autocomplete="off"/>
    <button type="submit">Send</button>
</form>
<ul id='messages'>
</ul>
<script>

    async function getLastMessages() {
        const url = '/last_messages';
        const response = await fetch(url);
        return response.json();
    }

    async function loadMessages() {
        const messages = await getLastMessages();
        let messagesList = document.getElementById('messages');
        // Clear message list before adding new ones
        messagesList.innerHTML = '';
        appendMessage('Previous 5 messages:');
        messages.reverse().forEach(msg => {
            appendMessage(msg.message);
        });
        appendMessage('New messages:');
    }

    function appendMessage(msg) {
        let messages = document.getElementById('messages');
        let message = document.createElement('li');
        let content = document.createTextNode(msg);
        message.appendChild(content);
        messages.appendChild(message);
    }

    let client_id = Date.now();
    document.querySelector("#ws-id").textContent = client_id;
    let ws = new WebSocket(`ws://${window.location.host}/ws/${client_id}`);
    ws.onmessage = function(event) {
        appendMessage(event.data);
    };

    loadMessages();

    function sendMessage(event) {
        event.preventDefault();
        let input = document.getElementById("messageText");
        ws.send(input.value);
        // append the sent message to the message list
        appendMessage("You: " + input.value);
        input.value = '';
    }
</script>
</body>
</html>
